[defaults]
inventory = ../inventory/hosts.ini
host_key_checking = False
callback_whitelist = ansible.posix.timer
interpreter_python = auto_silent
forks = 5
remote_port = 22
timeout = 10

#callback_whitelist = ansible.posix.timer,community.general.log_plays
[callback_log_plays]
log_folder = ./logs
