[defaults]
inventory = ../inventory/hosts.deploy.ini
host_key_checking = False
callback_whitelist = ansible.posix.timer
interpreter_python = auto_silent
forks = 20
remote_port = 22
timeout = 10

[callback_log_plays]
log_folder = ./logs
