apiVersion: 1

providers:
  - name: 'Dbbot Node Dashboards'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    options:
      path: /usr/local/grafana/dbbot-node-dashboards
