set @old_super_read_only=@@super_read_only;
set @old_read_only=@@read_only; 
SET global super_read_only = 0;
SET global read_only = 0; 
set sql_log_bin=0;
{% for host in mysql_backup_user_hosts %}
        create user {{ mysql_backup_user }}@'{{ host }}' identified by '{{ mysql_backup_password }}' ;
        grant reload,lock tables,replication client,process on *.* to {{ mysql_backup_user }}@'{{ host }}';
{% endfor %}
set sql_log_bin=1;
set global super_read_only=@old_super_read_only; 
set global read_only=@old_read_only; 
