<?xml version="1.0"?>
<yandex>
    <profiles>
        <default>
            <max_memory_usage>{{ max_memory_usage }}</max_memory_usage>
            <max_bytes_before_external_group_by>{{ max_bytes_before_external_group_by }}</max_bytes_before_external_group_by>
            <max_execution_time>300</max_execution_time>
            <distributed_product_mode>local</distributed_product_mode>
            <background_pool_size>{{ background_pool_size }}</background_pool_size>
            <background_schedule_pool_size>{{ background_pool_size }}</background_schedule_pool_size>
            <background_distributed_schedule_pool_size>{{ background_pool_size }}</background_distributed_schedule_pool_size>
        </default>
    </profiles>

    <users>
        <default>
            <password>{{ clickhouse_default_password | e }}</password>
            <networks>
{% for allowed_network in clickhouse_default_user_allowed_networks_effective %}
                <ip>{{ allowed_network | e }}</ip>
{% endfor %}
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
        </default>
    </users>
</yandex>
